@page
@using BankingData;
@model BankingDataModel
@{
    ViewData["Title"] = "Vnesi bančne podatke";
}

<style>
body {
    background-color: #f2f2f2;
}

.dodajanje-page {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
    margin: 150px 0px 0px;
    padding: 8px 0px 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-bg {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 50px 30px 30px;
    margin-top: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.confirm-btn {
    background-color: #d93025;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: 600;
    margin: 5px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 141, 255, 1); 
}

.label-left-align {
    text-align: left;
    display: block; 
    margin-bottom: 5px; 
}

.confirm-btn:hover{
  opacity: 0.8;
}

.image-upload {
    text-align: center;
    margin: 20px 0;
}

h1 {
    text-align: center;
}
</style>

<div class="dodajanje-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-lg-6 offset-sm-1 offset-lg-3">
        <h2 style="text-align: center;">BANČNI PODATKI</h2>
        <div class="form-bg">
          <form method="post" asp-page-handler="SubmitBankingDetails">
            <input type="hidden" name="tripId" value="@Model.TripId" />

            <label for="cardNumber" class="label-left-align"><i class="fa fa-credit-card"></i> Številka Kartice</label>
            <input type="text" id="cardNumber" name="CardNumber" class="form-control" placeholder="1111-2222-3333-4444" required />

            <label for="cvv" class="label-left-align"><i class="fa fa-lock"></i> CVV</label>
            <input type="text" id="cvv" name="CVV" class="form-control" placeholder="123" required pattern="^[1-9][0-9]{2}$" title="CVV must be a 3-digit number between 100 and 999." />

            <label for="expiryDate" class="label-left-align"><i class="fa fa-calendar"></i> Datum poteka</label>
            <input type="date" id="expiryDate" name="ExpiryDate" class="form-control" required />

            <label for="nameOnCard" class="label-left-align"><i class="fa fa-user"></i> Ime na Kartici</label>
            <input type="text" id="nameOnCard" name="NameOnCard" class="form-control" placeholder="Ime Priimek" required />

            <div class="form-group">
              <button type="submit" class="confirm-btn bg-primary">PLAČAJ</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

